<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{homeTitle}}</title>
  </head>
  <body>
    <h1>{{pageTitle}}</h1>
    <p>{{welcomeMessage}}</p>
    <p>Name: {{jsonMsg.name}}</p>
    <p1>Likes: {{jsonMsg.likes}}</p1>

    <footer>
      <p>Copyright {{currentYear}}</p>
    </footer>
  </body>
</html>
